.first-page {
  position: absolute;
  width: 375px;
  height: 1725px;
  left: 0px;
  top: 0px;
  background: linear-gradient(
    180deg,
    #fff6fb 0%,
    #e7f6fc 33.33%,
    rgba(213, 224, 255, 0) 100%
  );
}
.second-page {
  position: absolute;
  width: 375px;
  height: 841px;
  left: 0px;
  top: 1725px;

  background: linear-gradient(
    165.41deg,
    #d99ec9 0%,
    rgba(246, 240, 196, 0) 100%
  );
}
.third-page {
  position: absolute;
  width: 375px;
  height: 411px;
  left: 0px;
  top: 2566px;

  background: #dce9e9;
}
.fourth-page {
  position: absolute;
  width: 375px;
  height: 431px;
  left: 0px;
  top: 3472px;

  background: linear-gradient(180deg, #fff6fb 0%, #ffffff 100%);
}
.fifth-page {
  position: absolute;
  width: 375px;
  height: 394px;
  left: 0px;
  top: 4244px;

  background: linear-gradient(176.88deg, #f3b8bc 2.58%, #ffdad4 93.07%);
}
.sixth-page {
  position: absolute;
  width: 375px;
  height: 421px;
  left: 0px;
  top: 4999px;

  background: linear-gradient(
    270deg,
    #dadae4 0.25%,
    #eeeef0 24.33%,
    #f8f8f8 52.08%,
    #fefefe 100%
  );
}
.seventh-page {
  position: absolute;
  width: 375px;
  height: 646px;
  left: 0px;
  top: 5670px;

  background: #f66e6e;
}
.eighth-page {
  position: absolute;
  width: 375px;
  height: 373px;
  left: 0px;
  top: 6316px;

  background: linear-gradient(180deg, #fff6fb 0%, #e7f6fc 100%);
}
.ninth-page {
  position: absolute;
  width: 375px;
  height: 390px;
  left: 0px;
  top: 6693px;

  background: #050506;
}
